In [2]:
import math
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
#from time import sleep
from tqdm import tqdm, trange

In [3]:
#Le e separa as paginas da planilha, treinamento e teste
sheet1, sheet2 = None, None
xls = pd.ExcelFile("Pokémon.xlsx")
df1 = pd.read_excel(xls, 0)
df2 = pd.read_excel(xls, 1)

### DataFrame de treinanemnto

In [4]:
df1.head(10)

                                         Treinamento  relevante
0  besouros são nomeados em homenagem a pokémon h...          0
1  ash e goh ganham pokémon novos! uma nova rival...          1
2  alguém me dá a pelúcia do grookey pfv https://...          1
3  agora q eu e as minhas irmãs temos feito camin...          0
4                um pokémon apareceu. é um ninetales          0
5  chodi sem bandana poderia mto bem pertencer a ...          0
6  @dickmeupstepbro nah, só jogo pokémon no emula...          0
7  @alicorniak kkkkkkkkk nossa veio na minha cabe...          0
8  boa tarde família!!! tudo belezinha? hoje abri...          1
9           eu odeio pokemon https://t.co/rmsdh9ee30          0

In [5]:
dados = df1.rename(columns = {"Treinamento": "treinamento", "relevante": "nota"})

In [6]:
# muda o nome dos indices na planilha no novo dataframe
dados.head()

                                         treinamento  nota
0  besouros são nomeados em homenagem a pokémon h...     0
1  ash e goh ganham pokémon novos! uma nova rival...     1
2  alguém me dá a pelúcia do grookey pfv https://...     1
3  agora q eu e as minhas irmãs temos feito camin...     0
4                um pokémon apareceu. é um ninetales     0

In [7]:
# contagem de tweets notas(1) e irnotas(0)
total_irr = dados.nota.value_counts()[1]
total_rel = dados.nota.value_counts()[0]
print("tweets relevante = ", total_irr)
print("-"*30)
print("tweets irrelevantes =", total_rel)
print("-"*30)
print("Total de tweets = ", total_irr+total_rel)

tweets relevante =  76
------------------------------
tweets irrelevantes = 224
------------------------------
Total de tweets =  300

### Contagem dos dados antes do filtro:

In [8]:
#Conta quantos caracteres cada tweet possui antes do filtro
dados['comprimento'] = [len(t) for t in dados.treinamento]
dados[dados.comprimento > 140].head()
contagem = dados

In [9]:
contagem.head()

                                         treinamento  nota  comprimento
0  besouros são nomeados em homenagem a pokémon h...     0           68
1  ash e goh ganham pokémon novos! uma nova rival...     1          128
2  alguém me dá a pelúcia do grookey pfv https://...     1           61
3  agora q eu e as minhas irmãs temos feito camin...     0          148
4                um pokémon apareceu. é um ninetales     0           35

In [10]:
#dados irrelevantes
irr = contagem[contagem.nota == 0]
irr.head()

                                         treinamento  nota  comprimento
0  besouros são nomeados em homenagem a pokémon h...     0           68
3  agora q eu e as minhas irmãs temos feito camin...     0          148
4                um pokémon apareceu. é um ninetales     0           35
5  chodi sem bandana poderia mto bem pertencer a ...     0           53
6  @dickmeupstepbro nah, só jogo pokémon no emula...     0           72

In [11]:
#dados irrelevantes
rel = contagem[contagem.nota == 1]
rel.head()

                                          treinamento  nota  comprimento
1   ash e goh ganham pokémon novos! uma nova rival...     1          128
2   alguém me dá a pelúcia do grookey pfv https://...     1           61
8   boa tarde família!!! tudo belezinha? hoje abri...     1          303
12  anos jogando pokémon emerald e pela primeira v...     1          127
13     @psyzduck eu amo esse jogo, meu pokemon fav 🥺🥺     1           46

### Filtro de tweets

In [ ]:
# proximos passos:
#transformar cada coluna do dataframe em uma lista

#separar as listas de tweets, em cada lista uma lista de palavras e aplicar um filtro mais eficiente, aplicando em cada palavra e em cada letra, dentro da lista(ex:)
# [tweet1, tweet2] --> [[t,w,e,e,t,1], [t,w,e,e,t,2]] onde cada letra representa uma palavra do tweet inteiro

# transformar as listas de colunas em um dicionario e montar o dataframe

# realizar as manipulacoes e montar o classificador de acordo com as tabelas relativas e absolutas

# verificar quantos caracteres cada tweet perdeu, a partir disse realizar previsoes e formular hipoteisis como por exemplo: se tweets mais longos tendem a ser mais relevantes ou nao

In [1]:
def filtro1(tweet):
    string_with_nonASCII = tweet
    encoded_string = string_with_nonASCII.encode("ascii", "ignore")
    decode_string = encoded_string.decode()
    return decode_string

In [29]:
lista_tweet = list(contagem.treinamento)
lista_nota = list(contagem.nota)
lista_comprimento = list(contagem.comprimento)
#lista_tweet = lista_tweet[0].split()
#lista_tweet

In [31]:
filtro_tweet = []
lista_temporaria = []
for t in range(len(lista_tweet)):
    #print(lista_tweet[t]) #lista_tweet[t]: contem um loop com os tweets completos; precisa separa esses tweets em uma lista de listas
    lista_temporaria.append(lista_tweet[t].split()) #lista de palavras de tweets separadas por listas de tweets

In [38]:
for e in lista_temporaria:
    for e in range(lista_temporaria)

['besouros', 'são', 'nomeados', 'em', 'homenagem', 'a', 'pokémon', 'https://t.co/jaygm4rpgz']
--------------------
besouros

In [46]:
for e in range(len(lista_temporaria)): #len print posicao
    #print(lista_temporaria[e])
    for p in lista_temporaria[e]:
        print(lista_temporaria[e][t])

IndexError: list index out of range

### Contagem dos dados apos o filtro:

In [50]:
import string
filtro_data = contagem.treinamento.str.cat()
filtro_data = re.sub("[" + string.punctuation + "]", "", filtro_data.lower())
palavras = filtro_data.split() # lista de todas as palavras
len(palavras)

5718

                                           treinamento  nota  comprimento
0    besouros so nomeados em homenagem a pokmon htt...     0           68
1    ash e goh ganham pokmon novos  uma nova rivali...     1          128
2    algum me d a pelcia do grookey pfv https://t c...     1           61
3    agora q eu e as minhas irms temos feito caminh...     0          148
4                    um pokmon apareceu   um ninetales     0           35
..                                                 ...   ...          ...
295  @rabisco202 @kizunyy meu anime favorito : beas...     0           89
296  spoiler one piece  que coincidncia o crocodile...     0          195
297  professor falando que a cada ano to mais elega...     0          173
298  momentos que entristecem qlq jogador de pokemo...     0           71
299  @moon00skarien n tem folga no   cosplay de pokmon     0           51

[300 rows x 3 columns]

### DataFrame de Teste

In [ ]:
df2.head()